
    <style>
    #idesther{
        color: brown;
    }
    .idmejia{
        color: rgb(165, 42, 110);
    }
    body{
        background-color:aliceblue;
    }
   ul li{
        color: blueviolet;
    }
    li{
        color: yellowgreen;
    }
    #idc{
        color: plum;
    }
    #ida{
        color:blue;
    }
    #idn{
        color: rgb(49, 12, 12);
    }
    /*
    dashed - - - - 
    dotted
    */
    table, th, td {
          border: 4px double red;
         border-collapse: collapse;
    }

</style>